src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f51390bf-5a33-4789-adac-43ec12fa70c2" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="cin7-prc-api-main">
        <http:listener config-ref="cin7-prc-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="Request Logger" doc:id="c1bbac4c-4efa-4726-8bcd-1299445f2ccd" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  flowName: flow.name,&#10;  apiName: app.name,&#10;  Name: "Request Logger",&#10;  MetaData: "Request received in cin7-prc-api",&#10;  correlationId: correlationId,&#10;  payload: payload&#10;}]'/>
		<apikit:router config-ref="cin7-prc-api-config" />
    </flow>
    <flow name="put:\salesOrders:application\json:cin7-prc-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  success: true,
  apiName: "pw-cin7-exp-api",
  version: "v1.0.0",
  correlationId: "05c09130-75a2-11eb-9dcf-aed564bf8171",
  timestamp: "1970-01-01T00:00:01.001-06:00",
  data: {
    message: "Resource created"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\customers:application\json:cin7-prc-api-config">
		<logger level="INFO" doc:name="Log Start" doc:id="1f1b2425-0059-431f-ba88-7864837fc7f5" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  flowName: flow.name,&#10;  apiName: app.name,&#10;  Name: "ENTRY",&#10;  MetaData: "Started upsert in customer, contact and address object in salesforce",&#10;  correlationId: correlationId&#10;}]' />
		<set-variable value="#[payload.CustomerDetailsList[0].SalesRepresentative]" doc:name="salesRepresentative" doc:id="91789eeb-072a-4079-97a0-21f1d3b8ca71" variableName="salesRepresentative"/>
		<flow-ref doc:name="check-sales-represtative-subflow" doc:id="71e1e014-a6ec-40bd-9748-37905ca4cbfa" name="check-sales-representative-subflow"/>
		<flow-ref doc:name="customer-contact-address-implementation-subflow" doc:id="824b5138-a716-4242-9de0-eddea7295986" name="customer-contact-address-implementation-subflow"/>
		<logger level="INFO" doc:name="Log Exit" doc:id="adb67f49-4915-48f2-8a29-aaeb2d48b81b" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  flowName: flow.name,&#10;  apiName: app.name,&#10;  Name: "EXIT",&#10;  MetaData: "Ended upsert in customer, contact and address object in salesforce",&#10;  correlationId: correlationId&#10;}]' />
    </flow>
    <flow name="post:\products:application\json:cin7-prc-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  success: true,
  apiName: "pw-cin7-exp-api",
  version: "v1.0.0",
  correlationId: "05c09130-75a2-11eb-9dcf-aed564bf8171",
  timestamp: "1970-01-01T00:00:01.001-06:00",
  data: {
    message: "Resource created"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\salesOrders:application\json:cin7-prc-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  success: true,
  apiName: "pw-cin7-exp-api",
  version: "v1.0.0",
  correlationId: "05c09130-75a2-11eb-9dcf-aed564bf8171",
  timestamp: "1970-01-01T00:00:01.001-06:00",
  data: {
    message: "Resource created"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\stocks:application\json:cin7-prc-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  success: true,
  apiName: "pw-cin7-exp-api",
  version: "v1.0.0",
  correlationId: "05c09130-75a2-11eb-9dcf-aed564bf8171",
  timestamp: "1970-01-01T00:00:01.001-06:00",
  data: {
    message: "Resource created"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="account-change-event-flow" doc:id="02ff29d2-d68e-4620-baf0-f18807c45bda">
		<salesforce:subscribe-channel-listener streamingChannel="${salesforce.account-event}" doc:name="Account-Contact Change Event Listener" doc:id="ea8dbf4c-0dbe-4879-aac8-b10a4b7c1c02" config-ref="Salesforce_Config"/>
		<logger level="INFO" doc:name="Log Start" doc:id="abb2f30f-122e-4b7b-b016-5535552913d0" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  flowName: flow.name,&#10;  apiName: app.name,&#10;  Name: "ENTRY",&#10;  MetaData: "Cin7-process-api Customer event started",&#10;  correlationId: correlationId&#10;}]'/>
		<ee:transform doc:name="Create Request" doc:id="a405a06a-094a-4262-91e2-7c7b046a5cc9" >
			<ee:message >
				<ee:set-payload resource="dwls/msg-req-parameter-customer.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="sf-cin7-implementationSub_Flow" doc:id="c4b55e72-1208-4d96-bdb2-63d079edc44a" name="sf-cin7-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Log Exit" doc:id="2fa568a1-4d2b-46f2-8ce3-7eeda9c0d13c" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  flowName: flow.name,&#10;  apiName: app.name,&#10;  Name: "EXIT",&#10;  MetaData: "Ended upsert in Cin7, and syncing back response in Salesforce",&#10;  correlationId: correlationId&#10;}]'/>
	</flow>
	<flow name="contact-change-event-flow" doc:id="7fbbb02a-3eec-4fee-a1e2-7c5f9a3e256a" initialState="stopped">
		<salesforce:subscribe-channel-listener streamingChannel="${salesforce.contact-event}" doc:name="Contact Change Event Listener" doc:id="26ee0b7f-871f-4c31-9f94-9c3a15a5a04a" config-ref="Salesforce_Config"/>
		<logger level="INFO" doc:name="Log Start" doc:id="6f8dbdaf-5405-45fc-a58e-4150b517c9e1" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  flowName: flow.name,&#10;  apiName: app.name,&#10;  Name: "ENTRY",&#10;  MetaData: "Cin7-process-api-Contact-upsert-event-started",&#10;  correlationId: correlationId&#10;}]' />
		<ee:transform doc:name="Create Request" doc:id="545d4d26-c791-4c6c-a34c-20852daafe29">
			<ee:message>
				<ee:set-payload resource="dwls/msg-req-parameter-contact.dwl" />
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="sf-cin7-implementationSub_Flow" doc:id="cf503c84-4eae-4e8d-ba09-a40c386f9807" name="sf-cin7-implementationSub_Flow" />
		<logger level="INFO" doc:name="Log Exit" doc:id="4049ee64-c6a1-4864-ad98-b8a392980996" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  flowName: flow.name,&#10;  apiName: app.name,&#10;  Name: "EXIT",&#10;  MetaData: "Ended upsert in Cin7 and synced it back in Salesforce",&#10;  correlationId: correlationId&#10;}]' />
	</flow>
	<flow name="interfaceFlow" doc:id="e7843c1e-18aa-4261-9216-8ec8167b97dc" >
		<http:listener doc:name="Listener" doc:id="8caa3049-f327-4885-8cbb-7138d2cc492a" config-ref="HTTP_Listener_config" path="/test"/>
		<flow-ref doc:name="Flow Reference" doc:id="ec0e6758-ba99-4975-afe1-f76fff733d11" name="account-change-event-flow"/>
	</flow>
</mule>
